* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./imagesFolder/palmBig.jpg);
    background-size: cover;
    color: #0a6083;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    min-width: 90vw;
}

header {
    font-family: 'Tilt Warp', cursive;
    font-size: 4rem;
    text-align: center;
}

header, form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #0a6083;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #0a6083;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

h3 {
    text-align: center;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #e20909;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: #04ce5f;
}

.todo-item {
    padding: 1rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    background-color: #7cdaa6;
    opacity: 0.5;
}

/*This is a custom selector below....*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #0a6083;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}
/* Arrow actions */
.select::after {
    background: #0a6083;
    color: white;
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3 ease;
}
/* Transition affects */
.select:hover::after {
    background: white;
    color:#0a6083;
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 55px;
        line-height: 50px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2vh;
        text-align: center;
    }

    body {
        background: url(./imagesFolder/palmSmall.jpg);
        background-size: cover;
        color: #125c77;
        /*font-family: "Poppins", sans-serif;
        min-height: 100vh;*/
    }
    
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    } 


}

